.bg-animate {
  height: 0px;
}

.bg-animate-1 {
  top: 0px;
}

.bg-animate-2 {
  bottom: 0px;
}


.checked {
  height: 100% !important;
  transition: height 0.5s linear;
}

.checked-box {
  display: block !important;
}

.item:hover .select-checkbox {
  display: block;
  transition: display 0.5s linear;
}

.item:hover .bg-animate {
  height: 100%;
  transition: height 0.5s linear;
}

@media screen and (max-width: 500px) {
  .short-delete-parent {
    flex-direction: column;
  }
}